:root > * {
    --md-primary-fg-color:          #517cc7;
    --md-primary-fg-color--light:   #517cc7;
    --md-primary-fg-color--dark:    #517cc7;
    --md-accent-fg-color:           #bfd4ff;
    --md-accent-fg-color--light:    #bfd4ff;
    --md-accent-fg-color--dark:     #bfd4ff;
}
.md-header__title .md-header__topic {
    font-weight: 800;
}
.md-header__title[data-md-state=active] .md-header__topic {
    font-weight: 300;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 2.2rem;
    height: 2.2rem;
}
.md-header__button.md-logo {
    padding: 0rem;
}